html, body {
    height: 100%;
    margin: 0;
}

body > div:not(#sap-ui-static):not(#sap-ui-preserve) {
    height: 100%;
}

.sapUiComponentContainer,
.sapUiComponentContainer > div {
    height: 100%;
}

.sapUiXMLView {
    display: block;
    height: 100%;
}